<form action = "/cars/create" method = "post">

{{!-- <label for="first-name-input"> Brand:</label> --}}
<p>Brand</p>
<input type="text" name= "theBrand">

{{!-- <label for="first-name-input"> Model:</label> --}}
<p>Model</p>
<input type="text" name= "theModel">

{{!-- <label for="first-name-input"> Year:</label> --}}
<p>Year</p>
<input type="text" name= "theYear">

{{!-- <label for="first-name-input"> Color:</label> --}}
<p>Color</p>
<input type="text" name= "theColor">

<input type ="submit" value = "Submit Car">

</form>